<!DOCTYPE html>
<html>
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>

<div class="add_class_form text-center mt-5">
  <h3>Add classes</h3>
{{!-- <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p> --}}
<form action='/create_course' method="POST" enctype="multipart/form-data" >
			  
<div class="form-container">


      
   
   <div> <input type="text" class="browser-default custom-select col-sm-2 mt-4" name="course_name" placeholder="A/L Physics"></div>

  
</div>


{{!-- <div class="form-container">
  <div>
      <select  class="browser-default custom-select col-sm-2 mt-4" name="grade">
          <option value="Grade 10">Grade 10</option>
           <option value="Grade 11">Grade 11</option>
            <option value="After O/L">After O/L</option>
      </select>
  </div>
  <div ><select class="browser-default custom-select col-sm-2 mt-4" name="medium">
          <option value="English">English</option>
           <option value="Sinhala">Sinhala</option>
            
      </select></div>
  <div><input class="col-sm-2 mt-4" type="text" placeholder="prize(per month)" name="cost"></div>
</div> --}}

<button class="btn btn-primary mt-4 mb-2" type="submit" >Add class</button>
<br>
<a href="/view_course">course Details</a>


</form>
</div>



</body>
</html>
