<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>class_library</title>
		                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	</head>
	<body> 
		<div class=" text-center mt-3 mb-4"><h3 >Add_libary</h3></div>
		
		<div class="mt-5 text-center"  >
				
			  <form action='/create_g10s' method="POST" enctype="multipart/form-data" >
			  
			  <div class="text-left">
				    

				  <div class="mb-4 text-left"><input type="date" name="date" placeholder="Add Date"></div>
	
     
	   <div class="mb-4 text-left" ><select class="browser-default custom-select col-sm-2 mt-4" name="medium">
          <option value="English">English</option>
           <option value="Sinhala">Sinhala</option>
            
      </select></div>

    
	
			<div class="mb-4 text-left"><input type="text" name="video"  placeholder="Add video link" ></div>
            
		<div class="mb-4 text-center"><input type="text" name="week1" placeholder="Add link of week1 note" ></div>
					<div class="mb-4 text-center"><input type="text" name="week2" placeholder="Add link of week2 note" ></div>
						<div class="mb-4 text-center"><input type="text" name="week3" placeholder="Add link of week3 note" ></div>
							<div class="mb-4 text-center"><input type="text" name="week4" placeholder="Add link of week4 note" ></div></div>
			
			
            
	        
	        <button type="submit" class="btn btn-primary" >Upload</button>
	    </form>
		<a href="/view_g10s">Class Details</a>

		</div>
	  
	</body>
	</html>