<!DOCTYPE html>
<html>
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>

<div class="add_class_form text-center mt-5">
  <h3>Add Class link</h3>
{{!-- <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p> --}}
<form method="post" action="add_link">
<div class="form-container">
   
   <div> <select class="browser-default custom-select col-sm-2 mt-4" name="class_name">
          <option value="Mathemtaics">Mathematics</option>
           <option value="Science">Science</option>
            
      </select></div>
</div>
<div class="form-container">
    <div><input class="col-sm-2 mt-4" type="date" placeholder="Set date" name="class_date"></div>
    <div><input class="col-sm-2 mt-4" type="time" placeholder="Set time" name="class_time"></div>
  <div>
      <select  class="browser-default custom-select col-sm-2 mt-4" name="grade">
          <option value="Grade 10">Grade 10</option>
           <option value="Grade 11">Grade 11</option>
            <option value="After O/L">After O/L</option>
      </select>
  </div>
    

  <div ><select class="browser-default custom-select col-sm-2 mt-4" name="medium">
          <option value="English">English</option>
           <option value="Sinhala">Sinhala</option>
            
      </select></div>
  <div><input class="col-sm-2 mt-4" type="text" placeholder="Add zoomlink" name="Link"></div>
</div>

<button class="btn btn-primary mt-4 mb-2" type="submit" >Add link</button>
<br>



</form>
</div>



</body>
</html>
